@import "../../styles/1-tools/_mixins.scss";

.header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 50px;
}

.backButton {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    display: flex;
    padding: 15px;
    align-self: center;
    justify-content: center;
    align-items: center;
    svg {
        width: 100%;
        height: 100%;
    }
}

.actions {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-left: 50px;
}

.downloadButton {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    border-radius: 10px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    svg {
        width: 100%;
        height: 100%;
    }
}

.pictureCount {
    opacity: 0.5;
    margin: 5px 0 20px;
}

.collectionNamen {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.images {
    justify-content: center;
    align-items: center;
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: masonry;
}

.imageContainer {
    @include shadow;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    background-size: cover;
    &:hover {
        .deleteButton {
            opacity: 1;
        }
    }
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.deleteButton {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 100px;
    font-family: monospace;
    backdrop-filter: blur(10px);
    transition: background 250ms ease,
                opacity 250ms ease;
    &:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.75);
    }
}
