:root {
    --color-dark: rgb(8, 7, 12);
    --color-dark-50: rgb(8, 7, 12, 0.5);
    --color-semidark: rgb(108, 107, 112);
    --color-semilight: rgb(242, 240, 239);
    --color-light: rgb(253, 250, 249);
}
